@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body{
    padding:0;
    margin:0;
    font-family:'Inter';
}

.vid-container{
    position:relative;
    height:100vh;
    overflow:hidden;
}
.bgvid.back {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}

.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background:rgba(0, 0, 0, 28%) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.form input {
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.2);
    color: white;
    border-radius: 7px;
    border:0;
}

.form input::placeholder {
    color: rgb(182, 171, 163);
}
h2{
    color:white;
}


.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #289bb8;
    text-decoration: none;
}
.form .register-form {
    display: none;  
}

.btn:hover {
    background-color: black;
}

.btn{
    background:#2d2f36;
    border:0;
    color:#fff;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
    border-radius: 7px;
    text-decoration: none;
}

.box p{
    font-size:14px;
    text-align:center;
}
.box p span{
    cursor:pointer;
    color:#666;
}

@media screen and (max-width: 986px) {
    .bgvid{
height: 100px!important;
    }
}

@media screen and (min-width: 986px) {
    .bgvid.back {
width: 100%;
    }
}

.flash-error{
        color: red;
        font-size: 18px;
        margin-top: 5px;
    }

